# Dependencies
node_modules/
package-lock.json
!np-engelska/package-lock.json

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Temporary files
*.tmp
*.temp
