# Node
node_modules
npm-debug.log

# Environment
.env
.env.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Documentation
*.md
