/* OpenDyslexic (SIL Open Font License), självhostad. */
@font-face{font-family:'OpenDyslexic';font-style:normal;font-weight:400;src:url('files/OpenDyslexic-Regular.woff') format('woff');font-display:swap}
@font-face{font-family:'OpenDyslexic';font-style:normal;font-weight:700;src:url('files/OpenDyslexic-Bold.woff') format('woff');font-display:swap}
@font-face{font-family:'OpenDyslexic';font-style:italic;font-weight:400;src:url('files/OpenDyslexic-Italic.woff') format('woff');font-display:swap}
@font-face{font-family:'OpenDyslexic';font-style:italic;font-weight:700;src:url('files/OpenDyslexic-BoldItalic.woff') format('woff');font-display:swap}
@font-face{font-family:'OpenDyslexicRegular';font-style:normal;font-weight:400;src:url('files/OpenDyslexic-Regular.woff') format('woff');font-display:swap}
